.header {

    &__home {
        height: 100vh;
        background: center top / cover no-repeat url(/Users/admin101/Desktop/Juno/BOOTCAMP/PROJECT1/assets/home/home-1.jpeg);
    }

    &__blog {
        height: 60vh;
        background: center top / cover no-repeat url(/Users/admin101/Desktop/Juno/BOOTCAMP/PROJECT1/assets/blog/blog-1.jpeg);
    }

    &__contact {
        height: 100vh;
        background: center top / cover no-repeat url(/Users/admin101/Desktop/Juno/BOOTCAMP/PROJECT1/assets/contact/contact-1.jpeg);
    }
}

.wrapper {
    
    &__header {
        width: 95%;
        max-width: 1400px;
        margin: 0 auto;
    }
}

.nav {

    &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
    }

    &__link a {
        text-transform: uppercase;
        @include raleway(0.65rem, 0);
        padding: 0 15px;
        
        text-decoration: none;

        &:hover,
        &:focus {
            color: $deepgreen;
        }
    }

    &__burger {
        display: none;
        border: none;
        background: none;
        font-size: 2rem;

        a {
            color: $primary;
        }
    }
}