// background settings for all pages

.header {

    &__home {
        height: 100vh;
        background: center top / cover no-repeat url("./../assets/home/home-1.jpeg");
    }

    &__blog {
        height: 60vh;
        background: center top / cover no-repeat url("./../assets/blog/blog-1.jpeg");
    }

    &__contact {
        height: 100vh;
        background: center top / cover no-repeat url("./../assets/contact/contact-1.jpeg");
    }
}

.wrapper {
    
    &__header {
        width: 95%;
        max-width: 1400px;
        margin: 0 auto;
    }
}

// navigation style settings

.nav {

    &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
    }

    &__link a {
        text-transform: uppercase;
        @include raleway(0.65rem, 0);
        padding: 0 15px;
        text-decoration: none;
    }

    &__burger {
        display: none;
        border: none;
        background: none;
        font-size: 2rem;
    }

    &__link a:hover,
    &__link a:focus,
    &__burger:hover,
    &__burger:focus {
        color: $deepgreen;
    }
}

.shopping__bag {
    position: relative;
}

.number__two {
    position: absolute;
    background-color: $deepgreen;
    color: #FFFFFF !important;
    right: 10px;
    bottom: 0;
    border-radius: 100%;
    @include raleway(0.5rem, 0);
    width: 30%;
    text-align: center;
}