.header {

    &__home {
    height: 100vh;
    background: center top / cover no-repeat url(/Users/admin101/Desktop/Juno/BOOTCAMP/PROJECT1/assets/home/home-1.jpeg);
    }
}

.wrapper {
    
    &__header {
        width: 95%;
        max-width: 1400px;
        margin: 0 auto;
    }
}

h1 {
    @include raleway(2.03rem, 0);
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.nav {

    &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }

    &__list {
        display: flex;
        justify-content: space-around;
    }

    &__link a {
        text-transform: uppercase;
        @include raleway(0.65rem, 0);
        padding: 0 15px;

        &:hover {
            color: $deepgreen;
        }
    }

    &__burger {
        display: none;
    }
}