.section {

    &__first,
    &__second {
        display: flex;
    }

    &__third {
        padding: 200px 0 120px 0;
    }

    &__blockquote {
        background-color: $lightgreen;
        padding: 150px 0;
        text-align: center;
    }
}

.image {

    &__first,
    &__second {
        width: 50%;
    }
}

.content {

    &__first {
        width: 50%;
        order: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__wrapper {
        width: 75%;
        margin: 0 auto;
    }

    &__second {
        width: 50%;
    }
    
}

.heading {
    
    &__first + .divider__green {
        width: 10%;
    }

    &__second + .divider__green {
        width: 5%;
    }

    &__third + .divider__green {
        width: 7%;
    }
}

.divider__green + .body__text {
    padding: 30px 0;
}

.flex__menu {
    display: flex;
    justify-content: center;
    margin: 2% 10% 10% 18%;

    &__left {
        margin-right: 25px;
    }

    &__right {
        margin-left: 25px;
    }
}


.menu {
    
    &__feature {
        position: relative;
    }

    &__feature i {
        position: absolute;
        top: 0;
        left: -50px;
        color: $primary;
        font-size: 1.4rem;
    }

    &__feature h4 {
        margin-bottom: 0;
        color: $primary;
    }

    &__feature p {
        padding: 10px 5px;
        margin-top: 0;
    }
}

.flex__third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.image {

    &__third {
        position: relative;
    }

    &__stamp {
        position: absolute;
        top: -115px;
        right: -75px;
    }
}

.image__third + .content__third {
    padding-top: 50px;
}

.divider__green + .text__light {
    width: 55%;
    margin: 0 auto;
    padding-top: 20px;
}

.grid__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content__quote {
    position: relative;
}

.text__quote {
    padding: 25px 0 50px 0;
}

button.chevron {
    background-color: transparent;
    border: none;
}

.fa-chevron-left,
.fa-chevron-right {
    color: #FFF;
    font-size: 1.2rem;
    padding: 0 20px;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover,
.fa-chevron-left:focus,
.fa-chevron-right:focus {
    color: lighten($lightgreen, 10);
    font-size: 1.2rem;
    padding: 0 20px;
}