@mixin lora($sizeValue, $lightenValue) {
    font-family: 'Lora', serif;
    font-size: $sizeValue;
    color: lighten($primary, $lightenValue);
    line-height: 20px;
}

@mixin raleway($sizeValue, $lightenValue) {
    font-family: 'Raleway', sans-serif;
    font-size: $sizeValue;
    color: lighten($primary, $lightenValue);
    text-transform: uppercase;
}