// primary text stylings

h1 {
    @include raleway(2.03rem, 0);
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

h2 {
    @include raleway(1.5rem, 0);
    letter-spacing: 1.1px;
}

h4 {
    @include raleway(1rem, 0);
}

.body__text {
    @include lora(0.7rem, 30);
    line-height: 24px;
    letter-spacing: 0.3px;
}

.text__light {
    @include lora(0.7rem, 40);
    line-height: 24px;
    letter-spacing: 0.3px;
}

.text__quote {
    @include lora(1.4rem, 10);
    line-height: 36px;
    letter-spacing: 0.6px;
    font-style: italic;
}

// miscellaneous styling (buttons, content dividers, blockquotes)

.divider {

    &__green {
        border: 2px solid $deepgreen;
    }

    &__footer  hr {
        border-top: 2px solid lighten($primary, 10);
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
}

.footer__social hr {
    border-top: 2px solid lighten($primary, 10);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 25px;
    margin-bottom: -10px;
}

.deep__green {
    background-color: $deepgreen;
    border: 1px solid transparent;
    @include raleway(0.7rem, 100);
    text-transform: uppercase;
    padding: 15px 30px;
}

blockquote::before {
    content: '\f10d';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 3rem;
    color: lighten($lightgreen, 10);
    position: absolute;
    top: 90px;
    left: -60px;
}

blockquote::after {
    content: '\f10e';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 3rem;
    color: lighten($lightgreen, 10);
    position: absolute;
    bottom: 90px;
    right: -60px;
}

// additional footer text stylings

.footer {

    &__green {
        @include raleway(1.5rem, 100);
        color: $deepgreen;
        text-transform: uppercase;
        letter-spacing: 1.1px;
    }

    &__heading {
        @include raleway(0.9rem, 100);
        line-height: 24px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

input[type="email"]::placeholder {
    @include lora(0.6rem, 70);
    font-style: italic;
    letter-spacing: 0.3px;
}

.copyright {
    @include raleway(0.6rem, 30);
    text-transform: none;
}

