@import 'variables';
@import 'mixins';
@import 'setup';
@import 'header';
@import 'footer';
@import 'home';
@import 'blog';
@import 'contact';
@import 'media';


li {
    list-style-type: none;
    a {
        text-decoration: none;
        color: black;
    }
}

img {
    display: block;
    max-width: 100%;
}

.divider {

    &__green {
        width: 10%;
        
        border: 2px solid $deepgreen;
    }
}