@import 'variables';
@import 'mixins';
@import 'setup';
@import 'header';
@import 'footer';
@import 'home';
@import 'blog';
@import 'contact';
@import 'media';

img {
    display: block;
    max-width: 100%;
}

// please note that a few font styles may be slightly different than the mockup, and have been changed for readability and accessibility purposes after consulting with an instructor.


// primary type styling

h1 {
    @include raleway(2.03rem, 0);
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

h2 {
    @include raleway(1.5rem, 0);
    letter-spacing: 1.1px;
}

h3 {
    @include raleway(1.2rem, 0);
    letter-spacing: 1.1px;
}

h4 {
    @include raleway(1rem, 0);
    margin: 20px 0 5px 0;
}

h5 {
    @include raleway(0.8rem, 0);
    margin-bottom: 4px;
}

h6 {
    @include raleway(0.7rem, 0);
    margin-bottom: 4px;
}

.body__text {
    @include lora(0.7rem, 30);
    line-height: 24px;
    letter-spacing: 0.3px;
}

.blog__text {
    @include lora(0.7rem, 30);
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
}

.text__accent {
    @include lora(0.6rem, 40);
    font-style: italic;
    margin-top: 0;
}

.text__light {
    @include lora(0.5rem, 40);
    line-height: 24px;
    letter-spacing: 0.3px;
}

.text__quote {
    @include lora(1.4rem, 10);
    line-height: 36px;
    letter-spacing: 0.6px;
    font-style: italic;
}

.post__date {
    @include lora(0.5rem, 40);
    line-height: 24px;
    letter-spacing: 0.5px;
}

.comment__date {
    @include raleway(0.5rem, 20);
    text-transform: none;
    letter-spacing: 0.4px;
}

span.title {
    @include raleway(0.7rem, 20);
    margin-right: 8px;
}

span.poster {
    @include raleway(0.6rem, 30);
    text-transform: none;
}

span.name {
    @include raleway(0.7rem, 20);
    text-transform: none;
}

span.hours {
    @include raleway(0.7rem, 20);
}

// miscellaneous styling (buttons, content dividers, blockquotes)

.divider {

    &__green {
        border: 2px solid $deepgreen;
    }

    &__footer {
        border-top: 2px solid lighten($primary, 10);
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    &__clear {
        border: none;
    }

    &__blog {
        border-top: 2px solid lighten($primary, 70);
        border-bottom: none;
        border-left: none;
        border-right: none;
        margin: 30px 0;
    }

}

.deep__green {
    background-color: $deepgreen;
    border: 1px solid transparent;
    @include raleway(0.7rem, 100);
    text-transform: uppercase;
    padding: 15px 30px;
}

blockquote::before {
    content: '\f10d';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 3rem;
    color: lighten($lightgreen, 10);
    position: absolute;
    top: 90px;
    left: -60px;
}

blockquote::after {
    content: '\f10e';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 3rem;
    color: lighten($lightgreen, 10);
    position: absolute;
    bottom: 90px;
    right: -60px;
}

// additional footer text stylings

.footer {

    &__green {
        @include raleway(1.5rem, 100);
        color: $deepgreen;
        text-transform: uppercase;
        letter-spacing: 1.1px;
    }

    &__heading {
        @include raleway(0.9rem, 100);
        line-height: 24px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.copyright {
    @include raleway(0.6rem, 30);
    text-transform: none;
}

