@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

html {
  font-size: 125%;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.03rem;
  color: #2e2e2e;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #2e2e2e;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #2e2e2e;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #2e2e2e;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  color: #2e2e2e;
  text-transform: uppercase;
  margin-bottom: 4px;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  color: #2e2e2e;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.body__text {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.blog__text {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}

.text__accent {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #949494;
  line-height: 20px;
  font-style: italic;
  margin-top: 0;
}

.text__light {
  font-family: "Lora", serif;
  font-size: 0.5rem;
  color: #949494;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.text__quote {
  font-family: "Lora", serif;
  font-size: 1.4rem;
  color: #484848;
  line-height: 20px;
  line-height: 36px;
  letter-spacing: 0.6px;
  font-style: italic;
}

.post__date {
  font-family: "Lora", serif;
  font-size: 0.5rem;
  color: #949494;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.comment__date {
  font-family: "Raleway", sans-serif;
  font-size: 0.5rem;
  color: #616161;
  text-transform: uppercase;
  text-transform: none;
  letter-spacing: 0.4px;
}

span.title {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  color: #616161;
  text-transform: uppercase;
  margin-right: 8px;
}

span.poster {
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
  color: #7b7b7b;
  text-transform: uppercase;
  text-transform: none;
}

span.name {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  color: #616161;
  text-transform: uppercase;
  text-transform: none;
}

span.hours {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  color: #616161;
  text-transform: uppercase;
}

.divider__green {
  border: 2px solid #64A604;
}
.divider__footer {
  border-top: 2px solid #484848;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.divider__clear {
  border: none;
}
.divider__blog {
  border-top: 2px solid #e1e1e1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 30px 0;
}

.deep__green {
  background-color: #64A604;
  border: 1px solid transparent;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  color: white;
  text-transform: uppercase;
  text-transform: uppercase;
  padding: 15px 30px;
}

blockquote::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3rem;
  color: #ecf5c5;
  position: absolute;
  top: 90px;
  left: -60px;
}

blockquote::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3rem;
  color: #ecf5c5;
  position: absolute;
  bottom: 90px;
  right: -60px;
}

.footer__green {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  color: #64A604;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.footer__heading {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: white;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.copyright {
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
  color: #7b7b7b;
  text-transform: uppercase;
  text-transform: none;
}

.header__home {
  height: 100vh;
  background: center top/cover no-repeat url("./../assets/home/home-1.jpeg");
}
.header__blog {
  height: 60vh;
  background: center top/cover no-repeat url("./../assets/blog/blog-1.jpeg");
}
.header__contact {
  height: 100vh;
  background: center top/cover no-repeat url("./../assets/contact/contact-1.jpeg");
}

.wrapper__header {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}
.nav__link a {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 0.65rem;
  color: #2e2e2e;
  text-transform: uppercase;
  padding: 0 15px;
  text-decoration: none;
}
.nav__burger {
  display: none;
  border: none;
  background: none;
  font-size: 2rem;
}
.nav__link a:hover, .nav__link a:focus, .nav__burger:hover, .nav__burger:focus {
  color: #64A604;
}

.shopping__bag {
  position: relative;
}

.number__two {
  position: absolute;
  background-color: #64A604;
  color: #FFFFFF !important;
  right: 10px;
  bottom: 0;
  border-radius: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 0.5rem;
  color: #2e2e2e;
  text-transform: uppercase;
  width: 30%;
  text-align: center;
}

footer {
  background-color: #2E2E2E;
}

.wrapper__footer {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__contact, .footer__blog, .footer__subscribe {
  width: 25%;
}
.footer__address, .footer__posts {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}
.footer__form input {
  width: 80%;
  background-color: #535353;
  border: 1px solid transparent;
  padding: 8px;
}
.footer__form input[type=email]::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #e1e1e1;
  line-height: 20px;
  font-style: italic;
  letter-spacing: 0.3px;
}
.footer__form input[type=email]::-moz-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #e1e1e1;
  line-height: 20px;
  font-style: italic;
  letter-spacing: 0.3px;
}
.footer__form input[type=email]:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #e1e1e1;
  line-height: 20px;
  font-style: italic;
  letter-spacing: 0.3px;
}
.footer__form input[type=email]::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #e1e1e1;
  line-height: 20px;
  font-style: italic;
  letter-spacing: 0.3px;
}
.footer__form input[type=email]::placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #e1e1e1;
  line-height: 20px;
  font-style: italic;
  letter-spacing: 0.3px;
}
.footer__form button {
  background-color: #64A604;
  color: #FFFFFF;
  padding: 8px;
  width: 20%;
  margin-left: -5px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0;
  list-style: none;
}
.social__link {
  color: #FFFFFF;
  padding-right: 20px;
}

.copyright {
  background-color: #252525;
  padding: 5px;
}

.copyright p {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 15px 15px 0;
}

.polar {
  color: #64A604;
  text-transform: uppercase;
}

.section__first, .section__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__third {
  padding: 200px 0 120px 0;
}
.section__blockquote {
  background-color: #DDED9A;
  padding: 150px 0;
  text-align: center;
}

.image__first, .image__second {
  width: 50%;
}

.content__first {
  width: 50%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.content__wrapper {
  width: 75%;
  margin: 0 auto;
}
.content__second {
  width: 50%;
}

.heading__first + .divider__green {
  width: 10%;
}
.heading__second + .divider__green {
  width: 5%;
}
.heading__third + .divider__green {
  width: 7%;
}

.divider__green + .body__text {
  padding: 30px 0;
}

.flex__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex__menu__left {
  margin: 0 45px;
  width: calc(40% - 25px);
}
.flex__menu__right {
  margin-left: 25px;
  width: calc(40% - 25px);
}

.menu__feature {
  position: relative;
}
.menu__feature i {
  position: absolute;
  top: 0;
  left: -50px;
  color: #2E2E2E;
  font-size: 1.4rem;
}
.menu__feature h4 {
  margin-bottom: 0;
  color: #2E2E2E;
}
.menu__feature p {
  padding: 10px 5px;
  margin-top: 0;
}

.flex__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.image__third {
  position: relative;
}
.image__stamp {
  position: absolute;
  top: -115px;
  right: -75px;
}

.image__third + .content__third {
  padding-top: 50px;
}

.divider__green + .text__light {
  width: 55%;
  margin: 0 auto;
  padding-top: 20px;
}

.grid__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.content__quote {
  position: relative;
}

.text__quote {
  padding: 25px 0 50px 0;
}

button.chevron {
  background-color: transparent;
  border: none;
}

.fa-chevron-left,
.fa-chevron-right {
  color: #FFF;
  font-size: 1.2rem;
  padding: 0 20px;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover,
.fa-chevron-left:focus,
.fa-chevron-right:focus {
  color: #ecf5c5;
  font-size: 1.2rem;
  padding: 0 20px;
}

.wrapper__blog {
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

.blog__post {
  margin-top: 150px;
}
.blog__title {
  margin-bottom: 0;
}
.blog__date {
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
  color: #949494;
  text-transform: uppercase;
  text-transform: none;
  margin: 8px 0 32px 0;
}
.blog__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.share__list {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.share__link {
  padding: 0 15px;
  color: #999999;
}

.author__image {
  width: 20%;
  height: auto;
}
.author__bio {
  width: 80%;
  background-color: #F6F6F6;
  padding: 0 40px;
}

.related__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.post__descrip {
  width: calc((100% / 3) - 20px);
}
.post__info a {
  text-decoration: none;
}

.comment__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.comment__post {
  width: 90%;
  background-color: #F6F6F6;
  padding: 0 20px;
  position: relative;
}
.comment__post::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #F6F6F6;
  position: absolute;
  top: 20px;
  left: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.comment__submit {
  margin: 50px 0 150px 0;
}
.comment__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.comment__field input {
  width: calc((100% / 3) - 15px);
  padding: 10px;
  border: 1px solid #dddddd;
}
.comment__field input[type=text]::-webkit-input-placeholder, .comment__field input[type=email]::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__field input[type=text]::-moz-placeholder, .comment__field input[type=email]::-moz-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__field input[type=text]:-ms-input-placeholder, .comment__field input[type=email]:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__field input[type=text]::-ms-input-placeholder, .comment__field input[type=email]::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__field input[type=text]::placeholder,
.comment__field input[type=email]::placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__text textarea {
  width: 100%;
  height: 20vh;
  padding: 10px;
  resize: none;
  margin: 20px 0;
  border: 1px solid #dddddd;
}
.comment__text textarea::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__text textarea::-moz-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__text textarea:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__text textarea::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.comment__text textarea::placeholder {
  font-family: "Lora", serif;
  font-size: 0.6rem;
  color: #616161;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.wrapper__white {
  background-color: #FFFFFF;
  width: 15%;
}
.wrapper__grey {
  background-color: #F6F6F6;
  width: 15%;
}

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__form {
  width: 50%;
  background-color: #FFFFFF;
  padding: 60px 30px;
}
.contact__details {
  width: 20%;
  background-color: #F6F6F6;
  padding: 60px 30px;
}
.contact__field {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__field input {
  width: calc(50% - 20px);
  background-color: #F6F6F6;
  border: none;
  padding: 15px 0 15px 15px;
}
.contact__field input[type=text] {
  margin-right: 10px;
}
.contact__field input[type=email] {
  margin-left: 10px;
}
.contact__field input[type=text]::-webkit-input-placeholder, .contact__field input[type=email]::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__field input[type=text]::-moz-placeholder, .contact__field input[type=email]::-moz-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__field input[type=text]:-ms-input-placeholder, .contact__field input[type=email]:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__field input[type=text]::-ms-input-placeholder, .contact__field input[type=email]::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__field input[type=text]::placeholder,
.contact__field input[type=email]::placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__text {
  margin: 20px 0;
}
.contact__text input,
.contact__text textarea {
  width: 100%;
  background-color: #F6F6F6;
  border: none;
  padding: 15px 0 15px 15px;
}
.contact__text textarea {
  resize: none;
  height: 40vh;
}
.contact__text input::-webkit-input-placeholder, .contact__text textarea::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__text input::-moz-placeholder, .contact__text textarea::-moz-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__text input:-ms-input-placeholder, .contact__text textarea:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__text input::-ms-input-placeholder, .contact__text textarea::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__text input::placeholder,
.contact__text textarea::placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  color: #7b7b7b;
  line-height: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
}
.contact__text button {
  background-color: #FFFFFF;
  border: 1px solid transparent;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  color: #2e2e2e;
  text-transform: uppercase;
  color: #64A604;
  text-transform: uppercase;
  padding: 15px 0;
}
.contact__info {
  list-style-type: none;
  padding-left: 0;
}
.contact__banner {
  width: 100%;
  height: 60vh;
  background: center top/cover no-repeat url("./../assets/contact/contact-2.jpeg");
}

.body__text + .text__light {
  margin-top: -15px;
}

@media (max-width: 1280px) {
  .flex__menu {
    margin-top: 12%;
  }
  .flex__menu__right {
    margin-left: 0;
  }
  .flex__menu h4 {
    font-size: 0.8rem;
    margin-top: 0;
  }
  .flex__menu i {
    font-size: 0.9rem;
    left: -25px;
  }

  .text__light {
    line-height: 18px;
  }
}
@media (max-width: 1040px) {
  .heading__first {
    font-size: 1rem;
  }

  .content__first .body__text {
    font-size: 0.5rem;
    padding-bottom: 0;
  }

  .body__text + .deep__green {
    margin-bottom: 10px;
  }

  .section__first, .section__second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .image__first, .image__second {
    width: 75%;
    margin: 40px auto;
  }

  .content__first, .content__second {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .flex__menu__left, .flex__menu__right {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .header__home, .header__contact, .header__blog {
    height: 60vh;
  }

  .image__stamp {
    width: 30%;
    top: -90px;
    right: 10px;
  }
  .image__base {
    max-width: 70%;
    margin: 0 auto;
  }

  .section__third {
    padding: 100px 0;
  }
}
@media (max-width: 640px) {
  .header__home, .header__contact, .header__blog {
    height: 40vh;
  }

  .nav__list {
    display: none;
  }
  .nav__burger {
    display: block;
  }

  .flex__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex__menu__left, .flex__menu__right {
    width: 80%;
    margin: 0 auto;
  }

  .image__stamp {
    width: 15%;
    top: -45px;
    right: 95px;
  }
  .image__base {
    max-width: 50%;
    margin: 0 auto;
  }

  .heading__second, .heading__third {
    font-size: 1rem;
  }

  .grid__gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .section__blockquote {
    padding: 50px 0;
  }

  .text__quote {
    font-size: 0.6rem;
    line-height: 24px;
  }

  blockquote::before {
    font-size: 2rem;
    left: -30px;
  }

  blockquote::after {
    font-size: 2rem;
    right: -30px;
  }

  .text__quote {
    font-size: 0.6rem;
    line-height: 18px;
  }

  .wrapper__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__contact, .footer__blog, .footer__subscribe {
    width: 70%;
    text-align: center;
  }

  .divider__footer hr,
.footer {
    width: 70%;
  }

  .body__text {
    font-size: 0.6rem;
  }

  .copyright {
    text-align: center;
  }
}
@media (max-width: 440px) {
  .image__stamp {
    top: -35px;
    right: 75px;
  }
}
@media (max-width: 940px) {
  .wrapper__white, .wrapper__grey {
    width: 5%;
  }

  .contact__form {
    width: 60%;
  }
  .contact__details {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .wrapper__white, .wrapper__grey {
    display: none;
  }

  .contact__form, .contact__details {
    width: 100%;
  }
  .contact__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact__banner {
    height: 40vh;
  }
}
@media (max-width: 480px) {
  .contact__field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: -10px;
  }
  .contact__field input {
    width: 100%;
  }
  .contact__field input[type=text],
.contact__field input[type=email] {
    margin: 10px auto;
  }
  .contact__banner {
    height: 30vh;
  }
}
@media (max-width: 768px) {
  .blog__post {
    margin-top: 100px;
  }

  .author__bio .body__text {
    font-size: 0.5rem;
  }
}
@media (max-width: 640px) {
  .blog__author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .author__image {
    width: 100%;
    margin-bottom: 30px;
  }
  .author__image img {
    margin: 0 auto;
  }
  .author__bio {
    width: 100%;
  }

  .related__posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .blog__related {
    text-align: center;
  }

  .post__descrip {
    width: 100%;
    margin: 20px 0;
  }
  .post__descrip img {
    margin: 0 auto;
  }

  .comment__submit {
    margin-bottom: 50px;
  }
  .comment__field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comment__field input {
    width: 100%;
  }
  .comment__field input:not(input[name=comment__website]) {
    margin-bottom: 20px;
  }
  .comment__text {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .blog__post {
    margin-top: 50px;
  }
  .blog__title, .blog__date {
    text-align: center;
  }

  .body__text {
    font-size: 0.5rem;
  }

  .comment__entry {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comment__post {
    width: 100%;
  }
  .comment__post::before {
    content: "";
    top: -10px;
    left: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
img {
  display: block;
  max-width: 100%;
}